a, a:hover {
    text-decoration: none;
    color: inherit;
}


/* --- BODY --- */
body {
    background-image: url("assets/img/wood1.jpg");
    background-size: cover;
    background-repeat: repeat-y;

    min-height: 100vh;
}

/* --- HEADER --- */
/* header-img */
.header-img {
    background-repeat: no-repeat;
    background-size: cover;

    height: 50vh;
    min-height: 300px;
}
.header-img.large {
    height: 70vh;
    background-position: center;
}
/* navigation */
.nav-link {
    color: rgb(138, 239, 14) !important;
    font-style: italic;
    font-size: x-large;
    font-weight: bold;
}
.nav-link.active {
    text-decoration: underline;
}

/* --- MAIN --- */
section {
    margin-top: 100px;
}

.first {
    text-align: center;
    color: rgb(138, 239, 14);
    font-size: xxx-large;
    font-family: "Segoe UI Historic", serif;
    font-style: italic;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.third {
    text-align: center;
    color: rgb(138, 239, 14) !important;
    font-size: xx-large;
    font-family: "Bell MT", serif;
    font-style: oblique;
}

.fourth {
    color: rgb(138, 239, 14) !important;
    font-family: "Bell MT", serif;
    font-style: italic;
    font-size: x-large;
}

.letter {
    text-align: left;
    color: rgba(138, 239, 14, 0.55);
    font-family: "Bell MT", serif;
    font-style: italic;
    font-size: x-large;
}

.doska {
    background-size: contain;
}

.col-md, .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.products {
    color: black;
    font-size: large;
}

.left {
    float: left;
    margin-right: 30px
}

/* --- FOOTER --- */
footer {
    margin-top: 120px;
}

/* MEDIA */
@media (max-width: 768px) {
    body {
        background-image: url("assets/img/wood_mob.jpg");
        background-position: center;
    }
}

@media (min-width: 768px) {
    #pictures .col-md-3 {
        padding: 0;
        overflow-x: hidden;
    }

    #pictures > .col-md-3 > button {
        width: calc(100% - 20px);
        margin: 0 10px;
    }
}
