.empty-img {
    height: 200px;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

/* standard link */
.lnk {
    color: rgb(138, 239, 14) !important;
    font-style: italic;
    font-size: x-large;
    font-weight: bold;
    transition: text-shadow ease-out .1s;
}
.lnk:hover, .lnk:focus:not(button) {
    text-shadow: 2px 2px #198754;
}
.lnk:active {
    text-shadow: none;
    color: #198754 !important;
}
.lnk.active {
    text-decoration: underline;
}

/* --- BODY --- */
body {
    background-image: url("assets/img/wood1.jpg");
    background-size: cover;
    background-repeat: repeat-y;

    min-height: 100vh;
}

/* --- HEADER --- */
/* header-img */
.header-img {
    background-repeat: no-repeat;
    background-size: cover;

    height: 50vh;
    min-height: 300px;
}
.header-img.large {
    height: 70vh;
    background-position: center;
}

/* --- MAIN --- */
section {
    margin-top: 75px;
}

.first {
    text-align: center;
    color: rgb(138, 239, 14);
    font-size: xxx-large;
    font-family: "Segoe UI Historic", serif;
    font-style: italic;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.third {
    text-align: center;
    color: rgb(138, 239, 14) !important;
    font-size: xx-large;
    font-family: "Bell MT", serif;
    font-style: oblique;
    text-decoration: underline;
}

.fourth {
    font-family: "Bell MT", serif;
    font-style: italic;
    font-size: x-large;
}

.letter {
    text-align: left;
    color: rgba(138, 239, 14, 0.55);
    font-family: "Bell MT", serif;
    font-style: italic;
    font-size: x-large;
}

.doska {
    background-size: contain;
}

.col-md, .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.catalog-row img {
    height: auto;
    width: 100%;
}
.category-item {
    color: black;
    font-size: large;
    display: flex;
}
.dot-spawn {
    border-bottom: dotted 1px black;
    flex: 1 0;
    margin: 0 .4em;
    height: 1.1em;
}
.category-item:hover {
    color: inherit;
}
.category-item:hover .dot-spawn {
    border-bottom-color: rgb(138, 239, 14);
}

.left {
    float: left;
    margin-right: 30px
}

#form .form-control {
    margin: 10px 0;
    border: 1px solid rgb(138, 239, 14);
    background-color: #500000;
    color: white;
}
#form .form-control:focus {
    box-shadow: 0 0 10px 2px #198754;
}

/* --- FOOTER --- */
footer {
    margin-top: 120px;
}

/* MEDIA */
@media (max-width: 768px) {
    body {
        background-image: url("assets/img/wood_mob.jpg");
        background-position: center;
    }
}

@media (min-width: 768px) {
    .catalog-row .col-md-3 {
        padding: 0;
        overflow-x: hidden;
    }

    .catalog-row > .col-md-3 > .lnk {
        width: calc(100% - 20px);
        margin: 0 10px;
        box-shadow: none !important;
    }
}


.checkbox-other {
    display: block;
    margin: 0 0 10px 0;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.checkbox-other input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}
.checkbox-other span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 35px;
    line-height: 22px;
}
.checkbox-other span:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.3s ease;
    background: url(/upload2/checkbox-1.png) 0 0 no-repeat;
}

/* Checked */
.checkbox-other input[type=checkbox]:checked + span:before {
    background-image: url(/upload2/checkbox-2.png);
}

/* Focus */
.focused span:before {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover */
.checkbox-other span:hover:before {
    filter: brightness(110%);
}

/* Active */
.checkbox-other span:active:before {
    filter: brightness(80%);
}

/* Disabled */
.checkbox-other input[type=checkbox]:disabled + span {
    color: #666;
    cursor: default;
}
.checkbox-other input[type=checkbox]:disabled + span:before {
    filter: grayscale(100%);
    opacity: 0.6;
}
